.container {
  display: block;
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

main {
  padding: 30px 0;
  display: block;
}

body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
  display: block;
  margin-top: 8px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  display: block;
  margin-top: 40px;
}

h1 {
  font-size: 38px;
  font-weight: 900px;
  margin: 0;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.current-temperature {
  display: block;
}

.current-temperature-emoji {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}

.current-temperature-number {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-celsius {
  font-size: 28px;
  position: relative;
  top: -38px;
}

footer {
  font-family: Roboto, sans-serif;
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}
